<footer>
  <div class="container">
    <div class="footer-col">
      Gunina ARS Consulting<br/>
      Uttar Pradesh, India<br/>
      <abbr title="Last build on {{site.time | date: '%Y-%m-%d'}}">{{ site.time | date: '%B %Y'}}</abbr>
    </div>
    <div class="footer-col site-desc">{{ site.description }} I'm <a href="https://twitter.com/dileepshukla901">@dileepshukla901</a> on Twitter, <a rel="me" href="https://linkedin.com/in/dileepshukla901">@dileepshukla901</a> on the LinkedIn, and <a href="https://github.com/dileepshukla901">@dileepshukla901</a> on Github.</div>
  </div>
</footer>
